telegonus/Archides.otf
telegonus/frames/
telegonus/prev/
telegony/Archides.otf
telegony/vo.wav
telegony/frames/
telegony/prev/
telegony-sources/Archides.otf
telegony-sources/vo.wav
telegony-sources/frames/
telegony-sources/prev/
homer-hesiod/Archides.otf
homer-hesiod/vo.wav
homer-hesiod/frames/
homer-hesiod/prev/
odysseus-name/Archides.otf
odysseus-name/vo.wav
odysseus-name/frames/
odysseus-name/prev/
