telegonus/Archides.otf
telegonus/frames/
telegonus/prev/
telegony/Archides.otf
telegony/vo.wav
telegony/frames/
telegony/prev/
telegony-sources/Archides.otf
telegony-sources/vo.wav
telegony-sources/frames/
telegony-sources/prev/
homer-hesiod/Archides.otf
homer-hesiod/vo.wav
homer-hesiod/frames/
homer-hesiod/prev/
odysseus-name/Archides.otf
odysseus-name/vo.wav
odysseus-name/frames/
odysseus-name/prev/
odysseus-name/Dabanol.ttf
tangled-marriages/Archides.otf
tangled-marriages/Dabanol.ttf
tangled-marriages/vo.wav
tangled-marriages/frames/
tangled-marriages/prev/
medieval-death/Archides.otf
medieval-death/vo.wav
medieval-death/frames/
medieval-death/prev/
tennyson-ulysses/Archides.otf
tennyson-ulysses/Dabanol.ttf
tennyson-ulysses/vo.wav
tennyson-ulysses/frames/
tennyson-ulysses/prev/
